.ts_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0 200px;
    padding: 20px 0 0 10px;
}

.ts_item{
    width: 25%;
    margin: 0 0 15px 0;
    padding: 0 10px
}
.ts_thumbnail{
    max-width: 100%;
    margin: 0 0 10px 0;
}
.ts_info{
    display: flex;
}
.ts_profile{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: black;
}
.ts_text{
    width: calc(100% - 36px);
    padding-left: 10px;
}
.ts_text_title{
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}
.ts_text_owner{
    font-size: 1rem;
    color: #aeaeae;
    margin-bottom: 0.5em;
}
.ts_text_anal{
    font-size: 0.9rem;
    color: #aeaeae;
}

@media screen and (max-width: 1000px){
    .ts_item{
        width: 33%;
    }
}
@media screen and (max-width: 800px){
    .ts_wrapper{
        margin: 60px 0 0 60px; 
    }
    
    .ts_item{
        width: 50%;
    }
}
@media screen and (max-width: 400px){
    .ts_item{
        width: 100%;
    }
    .ts_wrapper{
        margin: 60px 0 0 0;
        padding: 20px 0 0 0; 
}
}
